/Vibrator.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/Vibrator.xcodeproj/project.xcworkspace/xcshareddata/Vibrator.xccheckout
/Vibrator.xcodeproj/project.xcworkspace/xcuserdata/jollyjinx.xcuserdatad/UserInterfaceState.xcuserstate
/Vibrator.xcodeproj/xcuserdata/jollyjinx.xcuserdatad/xcschemes/Vibrator.xcscheme
/Vibrator.xcodeproj/xcuserdata/jollyjinx.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store